* {

margin: 0;
padding: 0;
}


.banner img {
    border-radius: 16px;
}
nav {
background-color: rgb(255, 81, 0);
display: flex;
justify-content: center;
align-items: center;
}
.adv{
    background-color: rgb(255, 81, 0);
    
} 
.adv a {
color: aliceblue;
position: relative;
left: 37%;
}  
.welcome { 
    background-color: rgb(255, 81, 0);
}
.welcome h2 { 
    color: aliceblue;

}
.wrapper-downloads {
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi9oJ2lHPVXjfNmPOvvUYUX-9sDIPqMK6JqQ&usqp=CAU) ;

}
.admins {

    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi9oJ2lHPVXjfNmPOvvUYUX-9sDIPqMK6JqQ&usqp=CAU) ;


}
.dowload-games {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi9oJ2lHPVXjfNmPOvvUYUX-9sDIPqMK6JqQ&usqp=CAU);
display: flex;
flex-direction: column;
align-items: center;
width: 100%;

}
.dowload-games h3 {
    color: aliceblue;
    font-size: xx-large;
}
.admins p {
color: aliceblue;
font-size: medium;
font-size: x-large;
}
.admins h6 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.admins {
    display: flex;
justify-content: center;
font-size: ;


}
.top-games {
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi9oJ2lHPVXjfNmPOvvUYUX-9sDIPqMK6JqQ&usqp=CAU) ;

}
.top-games p {
    display: flex;
    justify-content: center;
font-size: xx-large;


}
.top-games h6 {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}
.top1 {
    display: flex;
    justify-content: center;
}
.top2 {
    display: flex;
    justify-content: center;
}
.top3 {
display: flex;
justify-content: center;

}
.futor{
    display: flex;
    justify-content: center;
}
.dowload-games img {
    width: 225px;
    height: 170px;
    border-radius: 18px;
}
.admins img {
    width: 320px;
    height: 260px;
    border-radius: 18px;
}
.top-games img {
    width: 320px;
    height: 260px;
    border-radius: 18px;
}
.admin-row {
    display: flex;
}